# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
*.db

# Node
node_modules/
dist/
.vite/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Logs
*.log
npm-debug.log*

groq api key
backend/data/raw/*.csv
backend/data/recipes.backup.json
